<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lkm.dao.LkmMapper">
  <resultMap id="BaseResultMap" type="com.lkm.entity.Lkm">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="user" jdbcType="VARCHAR" property="user" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from lkm
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lkm.entity.Lkm">
    insert into lkm (id, password, user
      )
    values (#{id,jdbcType=INTEGER}, #{password,jdbcType=VARCHAR}, #{user,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.lkm.entity.Lkm">
    update lkm
    set password = #{password,jdbcType=VARCHAR},
      user = #{user,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, password, user
    from lkm
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, password, user
    from lkm
  </select>
</mapper>